a {
    display: block;
    color: #47c7e7;
    font-style: italic;
}

.container__border {
    border: gray 1px solid;
}

.hr-red {
    background-color: red;
    height: 15px;
    margin: 0px;
    padding: 0px;
    width: 70%;
}

.hr-gray {
    background-color: #fafafa;
    height: 15px;
    margin: 0px;
    padding: 0px;
    width: 30%;
}

p {
    color: gray;
    font-family: sans-serif;
}

.span-red {
    color: red;
}

.span-black {
    color: black;
}

.donation__input {
    width: 35%;
    margin-right: 10px;
}

.btn__give-now {
    background-color: #00c838;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

.btn__footer-ligth {
    background-color: #fafafa;
    color: gray;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.margin-bt-10 {
    margin-bottom: 10px;
}